[2017-06-09 11:20] jdees opened #1 "Is it working end to end for buisiness already?"
Or is it still in development to make it work?

Useful to put this in for documentation?

Thanks,
J

[2017-06-09 15:10] derrix060 commented on #1
It's not working yet. I'm very busy doing some jobs, but I hope next month I can be free to finish this issue

[2017-09-20 05:17] derrix060 commented on #1
I'm testing here with my account and it is working so far, @jdee, if you could test and report any problem, I would appreciate it!

[2017-09-21 14:50] threepistons commented on #1
Given: that I have just installed from Git according to the readme and I have Python as follows:
[code]
And my site uses ADFS to handle logins, and I ran dbus and gnome-keyring as you said, and I am using MATE on Ubuntu 17.04.

When I try to: add my account using onedrived-pref
I expect: my account to be saved
I get: the following
[code]

[2017-09-22 05:24] derrix060 commented on #1
Hello @threepistons, thanks for the feedback. I've never heard about ADFS before. I will try to search it in the "uggly" manual provided by Microsoft, and I will return.

[2017-09-26 06:42] daviddavo opened #2 "Can't run onedrived-pref"
I'm using a raspbian. xybu/onedrived-dev was working perfectly
[code]

[2017-09-26 06:53] derrix060 commented on #2
Thank you!! Try to run this code:
`python3 -m onedrived.od_pref `

[2017-09-26 06:55] daviddavo commented on #2
Almost the same
[code]

[2017-09-26 07:13] derrix060 commented on #2
That's embarrassing... Have you used this commands?

`
$ git clone https://github.com/derrix060/onedriveClient.git
`
`
$ cd onedrived-dev
`
`
$ pip3 install -e .
`

And have uninstalled the old onedrive ??

[2017-09-28 14:38] Angeall commented on #1
Hello @derrix060 ! I'm having the same bug as @threepistons, the first authentication works, but not the second (or at least, the account can't be saved, as the error message could tell : Failed to save account: 'refresh_token').

Do you have some leads so far ?

[2017-09-29 05:56] derrix060 commented on #1
Hmm, I remember that I had to to some changes on the keyring, because I was using the xybu/onedrived-dev  before. I will search about and just tell you guys.

[2017-10-04 03:00] bomberb17 opened #3 "Failure to add business account"
I am running
`onedrived-pref account add -b`
but after pasting the second link, I'm getting the error:
`Failed to save account: 'refresh_token'.`
Tried twice but can't get past this

[2017-10-05 06:56] Angeall commented on #3
Duplicate (although with a better title) of #1 @derrix060 is working on it.

[2017-10-05 07:02] derrix060 commented on #3
@Angeall do you mean [Duplicati](https://www.duplicati.com/)?? If so, unfortunately the propose is a quite different. The Duplicati only do the backup, is not like this project, that is a sync between the server and the client...

[2017-10-05 07:08] #3 closed

[2017-10-12 07:36] Angeall commented on #1
Have you had the time to investigate the problem ? :smile:

[2017-10-12 07:38] derrix060 commented on #1
Not yet, sorry. I've moved to New Zealand and I'm looking for a work yet ;)

[2017-10-13 19:29] dabassett opened #4 "Why are you redirecting the user's token to another client application/domain?"
I was just trying the configuration steps and these are the instructions and url I've received:

The client_id and redirect_uri show that you seem to have registered your own client app to receive the user's auth token. The user is asked to grant this domain (https://od.cnbeining.com) read/write access to their files and and profile data.

I'm not accusing you of anything but I think it's a seriou

[2017-10-13 22:58] derrix060 commented on #4
Yeah, that's the limitation of the project, because I need this permission to download, remove, rename and deal with the files. If you are not so comfortable with this, just fork the project and put your credentials there, that's the better solution in this case.

[2017-10-17 07:58] c0ki commented on #1
I have the same bug (first authentication OK, second ERROR: Failed to save account: 'refresh_token').
I try to use --code option, but this option bypass only first authentication, second always need url and failed.

I try to use https://developer.microsoft.com/en-us/graph/graph-explorer and no problem to create folder.

[2017-10-17 22:46] derrix060 commented on #1
Thank you @c0ki, I think that I need to refactor and use the graph-explorer. In the case to the second authentication I will work on this.

[2017-10-18 21:30] dipusone commented on #2
I can reproduce the issue. Event trying to install it in a virtualenv gives the same result. If you need i can "produce" logs :).

[2017-10-19 05:16] derrix060 commented on #2
Hello @dipusone this would be good.

[2017-10-19 06:17] derrix060 commented on #1
Guys, I've download the Ubuntu from zero, installed on virtual box, install python, pip, everything from zero, and everything goes well. I think that the error could be the adm from your accounts, that doesn't allow some configuration. But if you can use the graph-explorer (this is the new way from the Microsoft, and the only supported now), I have to refactor and start to use this. If someone wan

[2017-10-20 07:35] dipusone commented on #2
Let me know if you need specific tests, meanwhile i will try to figure out why is not able to import the module.

[2017-10-21 16:00] dipusone commented on #2
I've solved the problem. There where some circular imports which would not resolve. As soon i've managed to test the installation i will make a PR.

[2017-10-22 17:23] dipusone commented on #2
@derrix060 I've refactored the classes and the methods in order to adhere to the main application structure and removed the cyclic imports which caused the problems. I've made a PR #5 with the changes.

[2017-10-24 02:01] derrix060 commented on #2
@dipusone Thank you for your contribution.

@daviddavo, could you check if the problem persist?

[2017-10-24 04:46] daviddavo commented on #2
1. Uninstalled old packages
2. Removed config
3. Updated pip
4. Followed the "to run on raspberry pi you'll need..."
5. Can't find dbus-devel, but dbus is installed alredy
6. Followed pre-requisites
7. Installed arm ngrok
8. `sudo pip3 install git+https://github.com/derrix060/onedriveClient.git`

Running either `onedrived` or `onedrived-pred` gives the same error:
[code]
¿Maybe is related to the d

[2017-10-24 20:13] dipusone commented on #2
mmm, are you sure the uninstaller didn't left any package behind? After my edit od_auth.py does not impor anymore od_pref.py.
May be try an hard remove by:
pip uninstall onedrived
rm -rf /home/pi/.local/lib/python3.4/site-packages/onedrived

This should remove any leftover files.

[2017-10-25 03:43] daviddavo commented on #2
Ok, I've been able to set up my account and a drive, but when I try to start the daemon...
[code]

[2017-10-25 03:48] daviddavo commented on #2
Okay... This is pretty strange. When I started with `--debug` it worked fine, it asked me for my keyring and now is syncing and working, thanks

[2017-10-25 05:22] #2 closed

[2017-10-25 05:24] derrix060 commented on #2
@daviddavo is it working now?

@dipusone is it working to you?

[2017-10-26 06:50] daviddavo commented on #2
If I do `onedrived start` it returns:
[code]
But if I do `--debug` it works fine. I think it has problems with the `detaching`

[2017-11-04 07:17] Reepun opened #6 "Testing: Successfull!"
Hello! I've tested the current release on my Onedrive for Business and it works without any issues after getting all the dependencies figured out for CentOS.
Further, I'm curious about what's been previously discussed, which is getting it authenticated under our own domain. Where and how would I go about changing the program to use our own domain for authentication, so it doesn't have to pass thro

[2017-11-05 21:57] derrix060 commented on #6
Hello @Reepun , thank you for the feedback!!

About the dependencies for the CentOS, can you describe with more detail, and them I put this on README??

About be authenticated under your own domain, I will refactor some pieces of code and I will expose the client ID, Secret and Redirect in a .yml file, you will just need to replaces the configurations there.

About the testing, you said that you h

[2017-11-05 22:18] derrix060 commented on #4
Hello @dabassett, how are you doing??

I've changed some things on the project and now you can use your own domain to authenticate and do everything. Just change the [config file](https://github.com/derrix060/onedriveClient/blob/master/onedrive_config.yml) with your own credentials, and done.

I will create one tutorial how to do this after.

Derrix

[2017-11-05 22:20] derrix060 commented on #6
Hello again @Reepun,

I've created the [config file](https://github.com/derrix060/onedriveClient/blob/master/onedrive_config.yml) and now you can use your own client ID, and secret without any problem.

I will create one tutorial how to create the accounts and the permissions that you need and will put on README file.

Derrix

[2017-11-06 12:59] Daryolo opened #7 "Can't find onedrive_config.yml"
I'm getting an error when I try to add a Account.

onedrived-pref account add -b

Traceback (most recent call last):
  File "/usr/local/bin/onedrived-pref", line 11, in <module>
    load_entry_point('onedrived==2.0.0', 'console_scripts', 'onedrived-pref')()
  File "/usr/local/lib/python3.5/dist-packages/pkg_resources/__init__.py", line 570, in load_entry_point
    return get_distribution(dist).loa

[2017-11-06 13:07] Daryolo commented on #7
Okay I fixed this error by moving the file with "sudo cp /home/pi/onedriveClient/onedrive_config.yml /usr/local/lib/python3.5/dist-packages/onedrived-2.0.0-py3.5.egg/"

Any idea why this isn't in the correct location after the installation?

[2017-12-05 14:04] Daryolo opened #8 "Delete from OneDrive - remains"
Hello guys.

I'm working on a project with onedrive and trying to link the Onedrive with a Scanner, by installing it on a raspberrypi. What's wrong now, is that when I delete a file on onedrive, it still remains on the raspi. And when I scan the next file - the "deleted" file pops up again in my OneDrive account. If I'm not wrong, this worked like a charm before. I can't see the reason why it does

[2017-12-12 14:38] rodom commented on #7
Getting something very similar myself:
[code]
Similar errors whatever onedrived or onedrived-pref command I run. I grabbed it from the repo and put it there, but then I get another error:
[code]
At this point I'm out of ideas. Anyone have any pointers?

[2017-12-12 15:06] rodom opened #9 "'loosebidict' not available in bidict 0.14+"
Having all sorts of issues getting this working. The latest:
[code]
Resolved by downgrading bidict to 0.13.1:
```sudo pip3 install --upgrade bidict==0.13.1```
However I guess, if this has been removed, the code needs updating to use something else.

[2017-12-18 08:39] daviddavo opened #10 "Exception: Invalid grant"
[code]

[2018-01-02 19:03] pintman opened #11 "missing dependency yaml"
I think pyyaml has to be added to requirements.txt.

[2018-01-02 19:09] pintman opened #12 "config file onedrive_config.yml missing"
When running onedrived-pref --help i get an error that refer to a missing config file:

    FileNotFoundError: [Errno 2] No such file or directory: '/home/XXXX/.local/lib/python3.5/site-packages/onedrive_config.yml

[2018-01-31 12:54] pat-s opened #13 "Failed to save account: 'access_token'"
After solving #7 I get the following when adding a business account:

[code]

Also note the typo in "athenticating".

Would love to get this working! Thanks for your work @derrix060

[2018-02-21 15:11] pintman commented on #12
After copying the configfile into the expected location the process runs further asking me to open a link a authorizing the app. However when I try to login, the account is not found.

[2018-02-21 16:53] pintman commented on #9
Had the same issue. Thanks for the hint.

[2018-03-16 06:23] #6 closed

[2018-03-16 08:20] derrix060 commented on #7
I'm so sorry for the delay, I've been very busy since I've moved to New Zealand. I fixed it in the last commits, can you check to see if it's happening again?

[2018-03-17 02:19] derrix060 commented on #9
Fix in c692b95c175576625bf816e38009d8bb480261d2

[2018-03-17 02:19] #9 closed

[2018-03-17 02:22] #7 closed

[2018-03-17 02:22] #1 closed

[2018-03-17 02:23] #11 closed

[2018-03-17 02:23] #12 closed

[2018-03-17 02:25] derrix060 commented on #13
Can you provide more information to how to replicate this issue? And if is possible, use the debug tag.

[2018-03-17 03:42] derrix060 commented on #10
Have you configured the settings inside any virtual enviroment? I only could reproduce it when I install inside a virtual env.

[2018-03-17 04:18] derrix060 commented on #8
It should sync automatically. I will test it.

[2018-03-17 04:39] derrix060 commented on #11
Yeah, I've forgot to do this. @pintman, would you like to be a collaborator of this project? If so, contact me.

[2018-03-26 11:01] Daryolo commented on #8
Hello derrix,
thanks for your answer. I'm somehow not able to test it. I'm now getting some error when trying to add an account.
For business Account: Failed to authorize onedrived: name 'log' is not defined.
For regular Account: Failed to save account: Failed to create the collection: Prompt dismissed...

I can't really see how it's not working, I'm doing everything as back then, when it worked.

[2018-03-28 00:43] derrix060 commented on #8
Okay, I will try to take a look at this next week. Can you try to run in debug mode `--debug` and put here more detailed? Don't forget to omit the sensitive data.

[2018-03-30 10:34] marian-code opened #14 "onedrive for bussiness authentification failes"
Hi,
I have a problem with authentication of onedrive for business. In the two step process the first is ok but on the second step when I paste the url I get error message: Failed to authorize onedrived: name 'log' is not defined. (see in file auth). I also tried to install manually and the included test fails for me see output in file test

[auth.txt](https://github.com/derrix060/onedriveClient/fi

[2018-04-03 12:36] Daryolo commented on #8
I'm not able to do this until next week, I'm sorry! Gonna do so if you need next week.

[2018-04-03 12:57] Daryolo commented on #14
I'm getting the same error :(

[2018-04-06 11:26] ezatterin commented on #14
+1 with the same error.

[2018-04-07 10:52] derrix060 commented on #14
I will look at that tomorrow. Today I'm doing the [google code jam](codejam.withgoogle.com/2018/challenges/00000000000000cb/dashboard)

[2018-04-09 08:06] derrix060 commented on #14
I've pushed some code, can you check it again? This was a very basic issue, I apologize for that.

[2018-04-09 09:51] Daryolo commented on #8
Hello derix

Still having the same error. It remains, unless I restart onedrive or I upload a new file. The other way it's working, when I delete it on the raspberry-pi it instantly removes it from the onedrive website client.

[2018-04-09 09:51] Daryolo commented on #14
Works well for me now, thanks for fixing 👍

[2018-04-10 14:05] ezatterin commented on #14
Works for me too, thanks a lot!

[2018-04-10 22:48] #14 closed

[2018-04-10 22:52] derrix060 commented on #8
It will remain until the next `scan`. It is defined in your configuration file (onedrived_config_v2.json) and the default is 6 hours.

If you need to change for some reason, change the `scan_interval_sec` to another value.

[2018-04-17 07:00] #8 closed

[2018-04-17 07:00] #13 closed

[2018-05-01 19:36] tigerjack commented on #13
Hi @derrix060, same issue here when I try to run `onedrived-pref account add -b`.
Just after copy-pasting the url inside the terminal for the second time, it simply returns

``
Successfully authorized onedrived.
Failed to save account: 'access_token'.
``

Also, at the very beginning, it shows the following warning:

``
WARNING:root:Failed to load config file: [Errno 2] No such file or directory: '

[2018-07-09 15:30] ByteCommander opened #15 "Various synchronization errors"
I just installed the current version of this repository on my Ubuntu 16.04 machine using the recommended pip3 method. I successfully configured my account and drive to sync with the local OneDrive folder in my home directory.

However, I am facing various problems:

- Sometimes files or whole folders are not getting picked up correctly or fail to synchronize, especially when copying or creating mu

[2018-07-26 14:32] dimk1 opened #16 "Can't authorize oneDrive for Business"
I run the commands to register to ODfB. After I enter the second link I get the message

[2018-08-30 09:26] derrix060 commented on #15
These 'Encountered API Error' is from onedrivesdk:

[code]

according with [their documentarion](https://support.office.com/en-us/article/invalid-file-names-and-file-types-in-onedrive-onedrive-for-business-and-sharepoint-64883a5d-228e-48f5-b3d2-eb39e07630fa#invalidcharacters):

[2018-08-30 09:27] derrix060 commented on #15
Can you update me if this is still an issue and the correct filename?

[2018-08-30 09:29] derrix060 commented on #16
Can you provide the full logs? Looks like you are not pasting the url when asked to od.

[2018-08-30 09:44] derrix060 opened #17 "One-way sync"
Looking into the most reactions issues on parent project (xybu/onedrived-dev), there are a lot of people asking for one-way sync on both directions server to client and client to server.

This issue is to investigate this and organize ideas about how to structure the required changes.

[2018-08-30 21:56] ByteCommander commented on #15
It is a repeating issue, but not popping up as often recently since I didn't add many files. However, except for `username` (originally 8 lowercase latin letters, nothing special), the error message regarding the invalid character was unaltered. I literally created a file named `testfile` in the root of my OneDrive synced folder and got this.

[2018-08-31 07:26] dimk1 commented on #16
I'm a bit newbie to that. Can you point out how to collect the full logs?

[2018-09-02 23:41] ByteCommander commented on #10
I just encountered this same issue as well, out of the blue. I don't know of any changes that could have been made to the Python installation since I started onedrived successfully last time. I even tried to make sure it does not run in any venv by calling Ubuntu 16.04's preinstalled system Python executable directly, but no difference.

Can this issue be reopened and possibly fixed, please? Or ar

[2018-09-07 09:17] derrix060 commented on #15
That's very difficult to help. As you can see in the implementation that I put above, this is a onedrivesdk error. I think is a good idea to open an issue on their side...

[2018-09-07 11:28] derrix060 commented on #16
interaction_required is a described error from Microsoft that you can check it [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow).

Please provide the commands that you had to use and the output.

For example:

[code]

[2018-09-07 11:33] derrix060 commented on #15
What version of onedrivesdk are you using (you can get running `pip3 freeze | grep onedrivesdk`)? This is a very difficult issue to reproduce. I have some files with not supported names that was sync, and I have 4gb of data...

[2018-09-07 11:34] derrix060 commented on #10
NOTE: now is possible to run this package inside a virtualenv. I just test it here, and is working...

[2018-09-13 10:53] derrix060 commented on #17
I'm planning to store this configuration in the driver. So will be possible to have the same "drive" with 3 different configurations: multi-way sync (default), server-to-host (download only), host-to-server (upload-only). My first thought was to store the configuration on the account, but then I lose the flexibility a little bit.

The configuration will be stored on the config.json (default to `on

[2018-09-13 11:05] derrix060 commented on #17
Space for some questions:

On the server-to-host (download only), if some file gets moved/renamed/deleted on the server, should this be sync too?

On the host-to-server (upload only), if some local file gets moved/renamed/deleted, should this be sync?

I don't think both questions need to be fixed. I need to find a way to let the drivers be flexible regarding its configuration. Maybe for some use

[2018-09-14 16:50] daviddavo commented on #10
[code]

ngrok is installed on /usr/local/bin/ngrok

[2018-09-14 19:52] derrix060 commented on #10
That's cool, looks like this issue has been fixed. Can you open another issue about the ngrok? I think I know what's going on...

[2018-09-14 19:52] #10 closed

[2018-09-19 14:55] GeorgLippold commented on #17
This sounds like a really useful feature. I am most intrested in the "Add only" option for upload at this point in time.

[2018-09-25 10:01] Modelmat opened #18 "Use on Manjaro Linux"
I might be doing something wrong, but I get this error when installing.
[code]

[2018-09-25 20:58] derrix060 commented on #18
Can you put the full code that you used until get to this point?

Remember to follow the instructions from README, install build-essential, libssl-dev and so on.

[2018-09-25 21:58] Modelmat commented on #18
I've tried to follow as close as I can, but Arch/Manjaro doesn't have the same packages, and most of them would probably be more up to date than in Ubuntu.

Most of the packages were alread preinstalled, it was possibly just one which I can't remember the name of which needed to be.

The error seems to occur in pyaml, so maybe I should have opened an issue there?

Also on py 3.7.0 on kernel 4.18

[2018-09-25 23:17] derrix060 commented on #18
I've never used this distro before, sorry about that. I think is a good idea to check with `pyaml` to see their requirements, and let me know in order to update the README...

[2018-09-29 04:06] Modelmat commented on #18
Oh, it turns out that if I change the requirements to use pyaml 3.13 it works fine (as it is provided by a pre-installed arch package).

[2018-09-29 04:07] #18 closed

[2018-09-29 04:59] Modelmat opened #20 "Systemd Service"
Similar to https://github.com/xybu/onedrived-dev/issues/47, is this possible?

[2018-09-29 06:28] Modelmat opened #21 "Syncing from web to local onOneDrive for Business"
Deleting/creating an item from the web client results in the error below, failing the delete/create The value for KeyError varies within 1000-7000 (from what I've seen). Fine deleting / creating files on local and uploading. The initial sync worked, just later updates do not. This makes this program useless.

*also should I be worried when --debug shows a large amount of adding watcher for {file}*

[2018-09-30 06:48] derrix060 commented on #21
That's weird because I use it every day and is working fine here... I'm wondering if can be something related with python3.7...

Anyway, I will look a this.

The number of " adding watcher for {file}" will depend on your configuration. You can see it on the `onedrived_config_v2.json`.

[2018-09-30 06:53] Modelmat commented on #21
So that's normal when in debug? Great!
Thanks for having a look. If you need anything tested, I know my way around python so it should be fine.

[2018-09-30 10:18] modelmat opened #22 "Unable to compare existing files downloaded via other methods. As result, onedriveClient is downloading/uploading everything again"
If a directory is used which had been previously synced, this program will upload each file again as file {desktop}, which wastes my bandwith.

Can the file hashes be compared first?

[2018-10-01 07:46] derrix060 commented on #22
What do you mean when you say "a directory is used"? Are the files going to change the timestamp? Is there any file that has its hash changed?

[2018-10-01 07:48] Modelmat commented on #17
![image](https://user-images.githubusercontent.com/25718989/46275937-f5db5a00-c5a1-11e8-9dd9-7836e27c48d3.png)
I'm confused with what's this saying, is it this?
1. delete all files not in onedrive
2. ???
3. add all files not on local from onedrive
4,5,6 N/A

[2018-10-01 07:49] derrix060 commented on #21
I could reproduce it here. What I've found is the program logs this error, but the file/directory is created/deleted....

[2018-10-01 07:50] Modelmat commented on #22
Ie. If I have previously copied my OneDrive directory (using another sync tool, for example), then syncing will reupload every single file with the added (desktop) suffix to the end. Suppose this would be fixed with #17 though.

I meaning don't reupload files with (desktop) suffix if the file on cloud has the same hash, if the local one is newer overwrite it, if the cloud is newer download the clo

[2018-10-01 07:50] Modelmat commented on #21
So it works but it errors?

[2018-10-01 07:53] Modelmat opened #23 "Dry Run Support"
To ensure no big data loss, support for `--dry-run` flag which logs any operations which would happen but does not modify local filessytem.

[2018-10-01 07:55] Modelmat commented on #21
Oh, okay.

[2018-10-01 08:05] derrix060 commented on #22
The way that is doing now to know if a file is different is first looking at the path (and the parent repository) + the filename. If matches with the cloud, then check the timestamp + hash.

I'm changing a little bit this behaviour on #17...

Let me see if I understood what you are saying:
- You set the onedrive to sync with an empty directory
- You download the files from OneDrive using other too

[2018-10-01 08:06] Modelmat commented on #22
Yes.

[2018-10-01 08:07] derrix060 commented on #16
I just created a new account and sync using a fresh clone of this repo and everything is working fine. If the problem persists, please comment here...

[2018-10-01 08:10] derrix060 commented on #22
What I think that is weird in this case is when you set to sync, it should download everything again...

I remember that I had the same issue when I first started to look at this project, what I did is gave up and let the onedrive download everything...

Can you make sure that the files are in the same structure and that the framework is uploading the file, not only the timestamp?

[2018-10-01 08:11] Modelmat commented on #22
I actually tried it again and it seemed not to be, but I have just decided to redownload everything from scratch (deleted with `rm` :P) so I can't test til it syncs again.

[2018-10-01 08:16] Modelmat commented on #4
As seen in https://github.com/gzxu/onedrive-sync-client/blob/master/onedrive/sdk.py#L76-L85 (and the called code) this service sets the redirect_uri to `https://login.microsoftonline.com/common/oauth2/nativeclient`, so this could be avoided?

[2018-10-01 08:19] derrix060 opened #24 "Change hard-coded logs to translated."
This is not something urgent but will be good once the project starts to get big. The idea is to use the pre-existent translate method. Example:

How it is:
[code]

How should be:
[code]

To see more examples, search for `translator` on od_pref.py

[2018-10-01 08:31] Modelmat commented on #17
Yikes, I'll have a go at decrypting this.

[2018-10-01 08:33] derrix060 commented on #4
Hmm, maybe. I remember that I spend long hours reading Microsoft documentation and each documentation says to do something different. I will try to use this native client as the redirect and if I can do this, would be amazing.

[2018-10-01 09:15] Modelmat commented on #4
Yup - I know other libraries actually serve a basic webserver too and parse the code instead, this also removes the reliance.

[2018-10-01 09:28] derrix060 commented on #4
The redirect url is defined when you create a project on graph. I tried to change the url and I got this error:

[code]

:cry:

[2018-10-01 09:33] Modelmat commented on #4
I think that's an issue in your application setup (in the application page on microsoft end)

[2018-10-02 08:43] dimk1 commented on #16
Still not able to make this work. I run

[code]

[2018-10-02 10:32] derrix060 commented on #22
Investigating #21 I've found why the framework was uploading duplicates.

There are a couple of issues, I will try to explain the steps to check if the item is the same:

Check if the item exists locally
- id should match
- c_tag or (size and timestamp) should match

Check if the item has changed:
- size should match
- timestamp or hash.

Issues:
- the size reported by Onedrive is not trustable, s

[2018-10-02 10:38] derrix060 commented on #16
I will take a look. Can you send me the link where you find this thing from Microsoft and also the commit hash for the project?

[2018-10-02 10:41] dimk1 commented on #16
Thanks for taking a look at this. The link is [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow). How do I retrieve the hash for the project? I simply used git in my Ubuntu machine to download the app.

[2018-10-03 01:46] Modelmat commented on #21
I've had a look at this again and it seems that this only occurs when I create a file with one name then (very) quickly rename it, then it spams the KeyError continuously. If it's not so quick it only does the KeyError once.

[2018-10-03 01:50] Modelmat commented on #16
Latest commit has can be found by navigating to the cloned directory and running `git rev-parse HEAD`

[2018-10-03 02:06] Modelmat commented on #24
How can this be done with docstrings, and should this be done for when errors are raised?

[2018-10-03 06:28] derrix060 commented on #24
I don't think it should be done with docstrings. Docstrings are for developers only, and I think should be in English. These messages are for loggings and errors.

[2018-10-03 06:33] derrix060 commented on #22
No I mean 21 haha. I was debugging that error and found this...

Usually, the download speed is higher than upload, so I will download the file (hope that the file is not large...) and compare the hash. If the hashes are different, I will keep both locally and on the cloud, letting the user decide which one is up-to-date.

[2018-10-03 06:50] Modelmat commented on #24
So for raised errors too?

[2018-10-03 08:09] derrix060 commented on #24
Yes. All messages that a normal user can view...

[2018-10-03 08:09] derrix060 commented on #24
Do you want to work on this one? I can assign it for you

[2018-10-03 15:12] dimk1 commented on #16
Then my commit is `c231b13ad4b64e35a1205135fd6ee0b01fb95edc`

[2018-10-03 22:34] Modelmat commented on #16
Try running `git pull` as you are running an out of date version of the library.

[2018-10-04 00:13] Modelmat commented on #4
Bump? Any luck?

[2018-10-04 05:40] Modelmat commented on #20
[code]
This seems to work for me, is this fine?

[2018-10-05 23:16] Modelmat commented on #21
I've had a look at this again and it seems that this only occurs when I create a file with one name then (very) quickly rename it, then it spams the KeyError continuously. If it's not so quick it only does the KeyError once.

[2018-10-06 11:00] Modelmat opened #25 "Type Hinting"
Since Python 3.5 ([PEP 484](https://www.python.org/dev/peps/pep-0484/)), type hinting has been a thing:
[code]
This allows IDE and code editors to add members to intellisense / autocompletes to better code.

This library supposedly supports Python 3+, so should we limit to 3.5+ (which is reasonable)?

[2018-10-07 18:31] derrix060 commented on #25
This PEP has the state `Provisional` so can be rejected or withdrawn... I don't see this as a think that "needs" to be done, but something "nice to have".

[2018-10-07 18:32] derrix060 commented on #21
So even with the KeyError the sync could be completed?

[2018-10-07 18:33] derrix060 commented on #20
I will test it tonight.

For sure it needs to be added via script, I'm not sure yet how...

[2018-10-07 18:40] derrix060 opened #26 "Use Microsoft Graph API"
The current code is using a mix of old MS APIs.

[This repo](https://github.com/gzxu/onedrive-sync-client) could authenticate using the new api, so it's something doable.

[2018-10-09 00:14] Modelmat commented on #20
According to https://www.freedesktop.org/software/systemd/man/systemd.unit.html, these are the directories it can be in.
![image](https://user-images.githubusercontent.com/25718989/46639756-dd77ca80-cbb3-11e8-9d51-150ecbb48576.png)
I think it's usually `/usr/lib/systemd/user/` is for user services, so it should go there (though this needs `sudo` still).

[2018-10-10 06:50] derrix060 commented on #20
I would prefer to install on `~/.config/systemd/user/` because you wouldn't require `sudo` access and it can be installed by user basis.

[2018-10-10 12:33] Modelmat commented on #24
Ah fudge.
Reinstalled linux and accidentally deleted all my hours of progress...
oh well.

[2018-10-12 13:03] rbrueckner82 opened #27 "Starting onedrived ... FAILED ERROR: Child exited immediately with exit code 127"
Hello,

can´t start ondrived Deamon with "onedrived start" failure

`Starting onedrived ... FAILED
ERROR: Child exited immediately with exit code 127
`

when i start the debug mode "onedrived start --debug" it runs without failure and will sync with the OneDrive.

Only one Warning at the screen

`2018-10-12 14:57:37,792] WARNING: MainThread: Executing <Handle gen_start_repo_tasks({'8032ebea25c15a1

[2018-10-13 21:01] derrix060 commented on #27
Can you send me what commit are you using? Navigate to the onedriveClient directory and run this command:

`git rev-parse HEAD`

[2018-10-13 21:09] derrix060 commented on #16
@dimk1 I didn't find this commit on the history, are you sure that you ran the command on the correct directory? And are you using the project from this fork?

[2018-10-13 22:55] derrix060 commented on #26
Instead of re-write all the onedrive sdk and use it only on this project, I decided to fork the oficial sdk and make the changes there. Feel free to help me on this: https://github.com/OneDriveSDK/onedrive-sdk-python

[2018-10-14 01:04] Modelmat commented on #26
I'll help where I can, but I'm back to school next week so I won't do much.

[2018-10-14 07:44] rbrueckner82 commented on #27
there is the output

`e1a330cfb4e2aee154504c4239abdb3dec495f0a`

[2018-10-14 19:11] derrix060 commented on #27
Ok, so you are using the latest commit. Please change your `onedrived_config_v2.json` (or the file that you save the configurations) and set the `logfile_path` (example "~/onedrived_debug.txt"), run again without `debug` flag and post here the content of the logfile.

[2018-10-15 13:05] Modelmat opened #28 "Rename to onedriveClient"
All the binaries and README still are onedrived, suggest changing everything to be called onedriveClient.

[2018-10-22 10:08] quen2404 opened #29 "Failed to connect to OneDrive for Business"
Hello,
i'm trying to use your client to connect to my onedrive for business account. But i have an error:

[code]

Does someone has already experienced that kind of issue ?

[2018-10-22 10:48] quen2404 opened #30 "Failed to connect to onedrive for business"
Hello,
i'm trying to use your client to connect to my onedrive for business account. But i have an error:

[code]

Does someone has already experienced that kind of issue ?

[2018-10-22 12:18] Modelmat commented on #30
Closing this as duplicate of #29.

[2018-10-22 12:18] #30 closed

[2018-10-22 12:38] quen2404 commented on #30
Sorry for the duplicate ! :thinking: I don't understand why it was created twice.

[2018-10-22 20:21] derrix060 commented on #29
I've just used the same link and worked fine for me... I will try to check where it could happen...

[2018-10-22 20:21] derrix060 commented on #28
Yes, everything should be renamed to onedrive-client

[2018-11-01 19:08] #28 closed

[2018-11-01 19:09] derrix060 commented on #28
@Modelmat please edit the AUR package once merged.

[2018-11-08 07:02] Modelmat commented on #25
It's something nice to have. It's not even intended as a library to use a module, so even less. It just helps with development. However, I noticed that [PEP 3107](https://www.python.org/dev/peps/pep-3107/) was added in 3.0, meaning that these are valid in any python version, though do not hold the same meaning from 3.0-3.4 as they do in 3.5+.

[2018-11-20 17:28] ghost opened #32 ""No Drive associated with account""
Having some trouble with syncing with OneDrive For Business. It was working fine, but stopped a few days ago, not sure exactly when (was OK on 26 Oct, not on 19 Nov). This is the error I now see in the log:
[code]

I've upgraded to the latest onedrive-client to no avail.

I've set up and `onedrive-client-pref account list` correctly shows my account. However, `onedrive-client-pref drive list` give

[2018-11-20 21:10] derrix060 commented on #32
Thank you for the feedback. I think the problem is that we are looking to another directory to find the associated drives because we renamed the package name.

This should be an easy fix, and I'll create a commit in a few hours (after I finish my work).

[2018-11-21 05:00] derrix060 commented on #32
FYI: I'm debugging here and thinking what is the best way to fix this issue.

The problem is because the name change, there are a couple of things that have broken:
- config.json (where it's store the accounts, drivers, etc)
- keyring: The password now is different, so is not possible to authenticate and refresh a session.

Here are some options:
- rollback the commit: this can break who are using

[2018-11-21 09:08] derrix060 commented on #32
Ok, so probably what I said before is not the root cause. Debugging the application looks like when querying `https://[domain]-my.sharepoint.com/_api/v2.0/drives` it's returning nothing!! I will really need to change the api to use the supported Graph!

[2018-11-21 21:45] derrix060 commented on #26
I was working on it yesterday, and almost all code changes are ready. I already get some information from Graph API in the code, I just need to make sure I can get everything.

[2018-11-27 08:45] derrix060 commented on #26
known issues:

- Also needs to support old accounts that were using onedrivesdk
- I had to tweak a little bit onedrivesdk, so I need to put the changes [here](https://github.com/OneDriveSDK) and find a good way to install this custom package
- Subscriptions are not supported because Graph requires to have a HTTPS connection to the redirect_url. Testing with the default (NGROK) configuration didn't

[2018-11-27 10:12] Modelmat commented on #26
Since `onedrivesdk` is now `graph-sdk-python`, should we rename it throughout that repo and for the pypi package?

[2018-11-27 10:15] Modelmat commented on #26
Additionally, with the HTTPS connection we could:
a) Use https://github.com/derrix060/onedriveClient/issues/4#issuecomment-425824705
or,
b) Serve up a temporary local web server which can handle the token requests (this should also stop token input errors)

[2018-11-28 01:31] derrix060 commented on #4
Reopening issue to redefine the redirect url

[2018-11-28 01:33] derrix060 commented on #26
I've already created an issue to rename to `graph-sdk-python`, feel free to work on that. We still need to update the pypi package

I liked the idea to move onedriveClient to the organization and I'm okay renaming it... Any suggestion for the "new" name?

This wouldn't change the problem because the problem is not to have the token, but is to receive the notification from the subscription. I've re

[2018-11-28 09:50] Modelmat commented on #26
Oh, okay. That seems strange. I might take a look sometime, if the changes ever get pushed to the repo (or a branch on it).

[2018-11-28 10:02] derrix060 commented on #26
I've pushed the changes [here](https://github.com/derrix060/graph-sdk-python/tree/feature/2-support-graph-only)

[2018-11-29 19:46] #16 closed

[2018-11-30 13:42] ndit-dev commented on #32
There is no workaround for this atm?

[2018-11-30 22:35] derrix060 commented on #32
@ndit-dev not that I'm aware of. That's the problem of relying on Microsoft, they can change their API without telling anyone...

BTW if you find a workaround, please let me know

[2018-12-03 05:51] derrix060 commented on #26
Working fine locally. I've also tested with docker and is okay.

The key is to install the package using:
[code]
Please make sure to use a non-existent directory at this point, to avoid any conflict with the files.

@Modelmat can you double check to see if it's working, and if so, I'll submit a PR.

[2018-12-03 05:52] Modelmat commented on #26
Ok, on it. Does this have tests?

[2018-12-03 05:52] derrix060 opened #33 "Don't rely on any environment: Use docker to isolate environment."
Using docker make sure the environment is the same.

[2018-12-03 05:54] derrix060 commented on #26
Only the normal tests, the problem to test it, is I don't have a business account only for testing, and this won't be reliable at all.

[2018-12-03 05:55] #15 closed

[2018-12-03 05:56] derrix060 commented on #4
Closing again because using the current API is not possible. I've implemented these changes in the branch that is using GraphAPI.

[2018-12-03 05:56] #4 closed

[2018-12-03 10:21] Modelmat commented on #26
Okay, I was having issues with a keyerror, I believe it may be caused by a broken config - I'll try and delete it.

I got slightly sidetracked, so I'm not able to go any further at the moment. Sorry :P

[2018-12-03 11:14] ndit-dev commented on #32
I don't fully understand the solution here. But https://github.com/abraunegg/onedrive seems to be on track.
Look at https://github.com/abraunegg/onedrive/issues/248 & https://github.com/abraunegg/onedrive/issues/264
as well as https://github.com/abraunegg/onedrive/blob/master/README.Office365.md

In the end I got it working (with abraunegg's OneDrive) with the drive ID that looks like `b!****M**0*

[2018-12-03 18:12] derrix060 commented on #32
@ndit-dev I will take a look into the links that you gave me later. In this meantime, can you test the solution from #26? It should work

[2018-12-03 20:21] abraunegg commented on #22
@derrix060
You will also run into this issue: https://github.com/OneDrive/onedrive-api-docs/issues/935

Baseline all 'timestamps' (local and OneDrive) to drop fraction seconds - HH:MM:SS is what should be compared otherwise timestamps will always be an issue

[2018-12-05 00:37] derrix060 commented on #22
@abraunegg thank's for the information! I'm planning to do a very bad workaround: download the file, calculate the checksum manually, and see it matches...

BTW, you have a nice project, congrats!!

[2018-12-05 04:20] Modelmat commented on #22
Maybe it should only download if the timestamp is within 5 minutes or so? This allows for timestamps to be slightly off on onedrive's end and even on the client's end due to clock drift

[2018-12-05 05:37] derrix060 commented on #22
Why 5min? Is possible to change a file on the remote, and before 5min change locally as well... It would cover some cases, but not all...

[2018-12-05 05:39] Modelmat commented on #22
I was thinking that 5 minutes would be a reasonable time. Even 10 seconds or so would probably be enough - what I am trying to say is there is no point downloading if the timestamp was say, 2 years apart - there is no point downloading then.

[2018-12-05 06:06] derrix060 opened #34 "Error on latest travis-ci build"
https://travis-ci.org/derrix060/onedriveClient/builds/463694566

Since the changes from https://github.com/derrix060/onedriveClient/pull/31, travis CI is not working.

This issue is to fix the problem and also enable TravisCI as a check before merging a branch into master.

[2018-12-05 09:03] #34 closed

[2018-12-05 10:21] Modelmat opened #36 "Upgrading OneDrive Client (config wise)"
As we saw in the recent issues caused by renaming the project, I propose that there should be same way of upgrading versions. Here are some solutions which may or may not be interchangeable:

1. Store the latest version or commit hash in the config files. (this should be done anyhow) - though maybe a config specific version would be better so it could be known when it changes.

2. Add to the upgra

[2018-12-05 10:22] Modelmat opened #37 "Create a Wiki"
Would be useful for extended documentation that might not have a place in the README.

[2018-12-06 00:46] derrix060 commented on #36
There is already a version set in `setup.py`, that can be changed in the code. Everytime that someone calls `onedrive-client --version` will get it.

I'm a little bit sceptic of having an automated tool to do the migration. I like the idea, but I think there will be a lot of development involved, and also we would have to support different versions and so on. I don't think these "break changes" ar

[2018-12-06 07:44] derrix060 commented on #32
@ndit-dev The project that you sent is using the graph-api. Please check the changes that I've made on #26. If it works, I will merge into master.

[2018-12-06 07:50] derrix060 opened #38 "Update travis-ci to .com instead of .org"
Travis is migrating to travis-ci.com and in the future will abandon the .org. I've sent an email to their team and I'm now in the beta test. I've run some jobs in the new infrastructure and it's working fine. This issue is to update the badge to point out to the new repo and check if there is anything that needs to be changed in travis.yaml

[2018-12-06 07:58] Modelmat commented on #36
I do agree with the problems with merging.

I am meaning to store the version in the config - separately to the actual runner version. Maybe a better solution is to add an issue template and when adding issues require the config to be removed and recreated as a way of debugging (and hence the version would allow us to tell if any major changes).

[2018-12-06 10:03] #38 closed

[2018-12-06 20:15] derrix060 commented on #36
I think I'm not following... What config is this? Why the config and the runner can have a different version? And can you say an example for a issue that requires removing and recreating the config?

[2018-12-12 08:59] derrix060 commented on #33
Not possible to use docker with the current implementation of the keyring.

One option is to re-write `OneDriveAPISession` or forget about docker...

[2018-12-12 09:57] derrix060 opened #40 "Change implementation of OneDriveAPISession"
OneDriveAPISession is using keyring at the moment and this requires some specifics from the environment that it is running on. Changing to a

one good start: https://cryptography.io/en/latest/fernet/#using-passwords-with-fernet.

The salt could be generated once and stored in the default config file, so it can be changed by the user if necessary.

The password could be some env variable, saved int

[2018-12-12 10:02] derrix060 commented on #40
I've tested encrypting and decrypting the same content that is saved into keyring at the moment generated by pickle (a byte-like representation of the session object).

[2018-12-12 12:36] bastianbowe2000 commented on #32
@derrix060 I'm willing to try out the changes. But I don't know where the changes are. #26 doesn't seem to be a onedriveClient.

[2018-12-13 01:12] derrix060 commented on #32
@bastianbowe2000 Sorry about that, I was not so clear.

Checkout this branch https://github.com/derrix060/onedriveClient/tree/%2326-use-ms-graph-api
and remember to install the graph-sdk from the submodule:

[code]

[2018-12-15 20:57] baztian commented on #32
I'm getting

    $ onedrive-client-pref account add
    Traceback (most recent call last):
      File "/home/me/Software/onedrive-client/bin/onedrive-client-pref", line 9, in <module>
        load_entry_point('onedriveClient==2.0.1', 'console_scripts', 'onedrive-client-pref')()
      File "/home/me/Software/onedrive-client/lib/python3.5/site-packages/pkg_resources/__init__.py", line 542, in load_e

[2018-12-15 21:12] baztian commented on #32
Fixing the bug in od_auth.py (removing the leading `f` char) makes the operation

    onedrive-client-pref account add

work for my onedrive business account. I can add the drive. Running the client doesn't really work though.

    $ onedrive-client start --debug
    Starting onedrive-client ... OK
    [2018-12-15 22:06:28,315] DEBUG: MainThread: Starting new HTTPS connection (1): login.microsofto

[2018-12-15 21:14] baztian commented on #32
Further more adding my non business account results in

    Successfully authorized onedrive_client.
    Failed to save account: 'givenName'.

[2018-12-16 18:40] derrix060 commented on #32
Hello @baztian thanks for the feedback. Can you confirm your python version and the hash for the commits:

[code]

[2018-12-16 18:54] derrix060 commented on #32
I've just seen that the commands to install the graph-sdk-python were wrong.

Try this instead:

[code]

[2018-12-16 19:52] baztian commented on #32
Thanks @derrix060, still same error after following your instructions exactly.

Python 3.5.2
git rev-parse --verify HEAD
609cd52394157a5a23ca6aea54b67b091b01bcf0
git rev-parse --verify HEAD
2d0bf8b82925e8af2da8b39d5418265b4b42892e
-e git+https://github.com/derrix060/onedriveClient.git@609cd52394157a5a23ca6aea54b67b091b01bcf0#egg=onedriveClient
onedrivesdk==1.1.8

[2018-12-20 12:22] rodom commented on #32
@derrix060 I followed your instructions above, and fixed the syntax error in od_auth.py. Various commands then gave the error:
[code]
For example:
[code]
This was also seen on `onedrive-client-pref drive set`. On investigation it was because my existing config file ~/.config/onedrive_client/onedrive_client_config_v2.json was missing the `ignorefile_path` key under `drives` - adding it manually to

[2018-12-20 21:29] derrix060 opened #42 "TypeError: __new__() missing 1 required positional argument: 'ignorefile_path'"
@derrix060 I followed your instructions above, and fixed the syntax error in od_auth.py. Various commands then gave the error:
[code]
For example:
[code]
This was also seen on `onedrive-client-pref drive set`. On investigation it was because my existing config file ~/.config/onedrive_client/onedrive_client_config_v2.json was missing the `ignorefile_path` key under `drives` - adding it manually to

[2018-12-21 12:18] rodom commented on #32
@derrix060 it seems to be working OK after that!

[2019-01-08 14:16] tomas-lipensky commented on #32
Is the issue solved? I have connected my business account and I cannot see any disk. From logs:

onedrive-client start --debug
Starting onedrive-client ... OK
[2019-01-08 15:05:53,761] DEBUG: MainThread: Starting new HTTPS connection (1): login.microsoftonline.com
[2019-01-08 15:05:54,199] DEBUG: MainThread: https://login.microsoftonline.com:443 "POST /common/oauth2/token HTTP/1.1" 200 2797
[2019-

[2019-01-08 19:48] derrix060 commented on #32
@tomas-lipensky As I said before, there is an error with the microsoft API. Please test the instructions from [here](https://github.com/derrix060/onedriveClient/issues/32#issuecomment-447666779) and if it fixes, I can make the changes repo-wide.

[2019-01-08 23:49] Modelmat commented on #20
The AUR package now installs the systemctl script. (https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=onedrive-client-git)

[2019-01-08 23:56] Modelmat commented on #26
[code]
finally got round to it, this error occurs.

[2019-01-08 23:58] Modelmat commented on #26
Output of `onedrive-client-pref drives list`:
[code]

[2019-01-09 01:53] Modelmat commented on #20
I'm not sure how to. AFAIK, unless we change the onedrive-client start and stop commands it should stay the same, so I'm also not sure what you're asking.

[2019-01-09 02:31] Modelmat commented on #36
Sorry for the late reply. What I'm trying to say is in the config (~/.config/onedrive_client) we store the application version at the time the config was created and request that when someone files an issue; as well as the `onedrive-client --version` (of which doesn' work for me).

Thinking about it, this seems to have little point. Closing anyway.

[2019-01-09 02:31] #36 closed

[2019-01-09 19:46] derrix060 commented on #26
@Modelmat correct, both are the same.

I was referring to the longs that you put, more specifically to
[code]

[2019-01-09 19:47] derrix060 commented on #20
My point is only to validade that the AUR package is installing correct and it works

[2019-01-10 01:43] Modelmat commented on #26
So, is this not an issue? So it's still syncing from this?

[2019-01-10 01:47] Modelmat commented on #20
I don't think it's possible to install AUR packages on Travis as it uses an entirely different packaging system. Unless we use something like https://github.com/mikkeloscar/arch-travis, which I have no idea how well it works.

[2019-01-10 22:43] derrix060 commented on #32
Hello @Rasori, welcome.

The error that you sent is not related with this issue. There is a problem with your keyring. Please make sure you have configured correctly your environment, following [these instructions](https://github.com/derrix060/onedriveClient#pre-requisites).

I can see that you have keyring.alt version 3.0, and the latest version is [3.1.1](https://pypi.org/project/keyrings.alt/).

[2019-01-14 05:08] derrix060 opened #43 "Make installation easier with snapcraft"
Snapcraft is a tool to release software to any Linux device (our target)

https://snapcraft.io/build

[2019-01-29 10:16] Subick opened #44 "Folder delete error"
Hi!

When I try to delete a folder from remote folder on the local machine I get the following error:

[code]
and the folder is not deleted on the drive.

There are also a lot of keyerror in the other operations, like this:

`[2019-01-28 18:15:27,004] ERROR: MainThread: Exception in callback LocalRepositoryWatcher.process_events()
handle: <Handle LocalRepositoryWatcher.process_events()>
Traceback

[2019-01-29 19:42] derrix060 commented on #44
The second issue looks like related with #21. I'll take a look on the first one,

[2019-01-29 19:45] derrix060 commented on #44
Do you have any `\` in your path? `OSError: [Errno 22]` is when the path is not valid.

Can you paste the full path?

[2019-02-05 01:32] GiltosMx opened #45 ""We're unable to complete your request" message during "onedrive-client account add""
Hey there!

So the issue happens sometimes, but I'm not completely sure on how to reproduce it yet.

While using the command `onedrive-client-pref account add`, the output for the auth url is the following:
[code]
So, when pasting the link on the browser you'll get an error:
![image](https://user-images.githubusercontent.com/14275369/52248087-4d703600-28b2-11e9-9d19-1fec586e3f00.png)

And the resp

[2019-02-05 01:46] derrix060 commented on #45
Hello @GiltosMx, welcome to the project.

The url posted by you looks correct. I've tested the same URL provided by you and works fine:

Can you please try again to see if the problem persists, and if so, try this other link:

[2019-02-05 05:09] GiltosMx commented on #45
Hey there @derrix060!

Thanks a lot for your quick response. I'm really looking forward to this project being active. I tried using `xybu`'s original one a couple of years ago and was not fully convinced.

On with the issue, it turned out to be a really stupid thing. I was using `tmux`, and because the pane was split vertically, the link pasted incorrectly (altough it looked fine at a first glance

[2019-02-05 05:09] #45 closed

[2019-02-09 22:10] Modelmat commented on #42
Has this been fixed yet? I'd be willing to PR a fix.

[2019-02-09 22:19] Modelmat opened #46 "Disable setup.py test dependency version checks"
I believe this is actually part of the `setuptools` functionality, so I'm not sure if this is even possible.

When installing via the AUR, there is the option to add a check function which runs the tests when building. However, because the packages are installed straight from the Arch repositories, they are often the latest version - which requirements.txt specifies they are not to be. So far, it

[2019-02-10 21:31] derrix060 commented on #46
I would say that if the requirements specify an specific version, this version needs to be used.  Can you investigate to see if is possible to install via AUR in a virtual environment?  This way it won't mix up any other python dependency that might be installed.

[2019-02-10 21:32] derrix060 commented on #42
Not yet.  Fell free to work on this.

[2019-02-11 06:59] Modelmat commented on #46
I've looked before and it seems it would be lots of hassle. I can try, but it's probably not the best - even the commands will have to somehow activate the virtual environment (though this is fine for systemd services).

[2019-03-05 08:40] malanb5 commented on #29
Still having the same issue as quen2404

[2019-03-05 20:58] derrix060 commented on #29
hello @malanb5, in that case, can you post the step-by-step how you've installed and executed?  Only with the log posted by @quen2404 I was unable to know what's going on...

Also please use the `--debug` flag ;)

[2019-03-05 21:05] derrix060 commented on #29
My best shot should be that you guys are not pasting the entire URL.  [Here](https://github.com/derrix060/onedriveClient/blob/master/onedrive_client/od_pref.py#L80), the code expects to have a `?` signal to split the string (from `...?code=bla`)

[2019-03-18 18:18] derrix060 opened #47 "Remove f-strings or import it from future"
F-strings were introduced on python 3.6 but this project is compatible with python 3.4 +.

Rather remove all f-strings and manually replace it, or use [this project](https://github.com/asottile/future-fstrings)

[2019-03-19 06:53] Modelmat commented on #47
Whilst I believe f-strings are much better and cleaner than the `.format` style, the future-fstrings project seems a little dodgy and (not that I have seen any) likely to break. I think we should use that project's cli script to generate `.format` style files and continue to use them.

[2019-03-25 06:12] asppsa commented on #32
@derrix060, I just tried out your #26 branch, using the patched SDK as per your instructions, and it's working for me thus far. This is the first time I have ever been able to sync w my organisation's OneDrive on Linux - thank you so much for this!

[2019-03-25 21:21] derrix060 commented on #32
Thanks for the feedback @asppsa I'm planning to merge the #26 into the master and let this be the default.  I just need some time to figure out how to do this and support as many user that before without major issues.

I'm also applying for a new job where I'm leaving, so it might take some weeks ;)

[2019-04-16 06:06] asppsa opened #48 "Adding drives via "Sync" in SharePoint"
This is using the #26 branch ...

If I go into the Sharepoint web interface for my organisation and click the "Sync" button, I see the following message:

![image](https://user-images.githubusercontent.com/453170/56183965-da2a3380-605b-11e9-92d0-e031502782a0.png)

The "Copy library ID" link in that box when clicked inserts a WWW-form encoded string into the clipboard, like the following (this is a

[2019-04-16 19:36] derrix060 commented on #48
Hello @asppsa!  I've never used a sharepoint drive before, but I can look at this if I'm able to create one driver for myself.   Also fell free to create a PR if you are able to implement it.

[2019-07-30 12:00] rodom opened #49 "Files in subdirectories not syncing"
I'm experiencing issues with files in subdirectories failing to sync. I can create a directory, and this correctly appears on the drive (I can see it appearing on my Windows VM). However, any file I create within it won't sync:
[code]
If I stop and start onedrive-client it does successfully sync test.txt.

If I then create a subdirectory of this one, it still won't sync:
[code]

However in this ca

[2019-08-03 12:33] sameshl commented on #47
@derrix060 I would like to work on this. So if I understand correctly, I am supposed to remove all f-strings and manually replace it with `.format` style?

[2019-08-03 22:56] Modelmat commented on #47
You could manually replace it or using the future-fstrings project's CLI tool for converting f-strings to format-strings and then replace the updated files.

So, yes.

[2019-08-04 06:13] sameshl commented on #47
I tried grepping but couldn't figure out a way for manually finding all the f-strings. can you help me out @Modelmat

[2019-08-04 23:58] Modelmat commented on #47
Take a look at https://github.com/asottile/future-fstrings#showing-transformed-source

[2019-08-12 12:13] galaxy001 opened #50 "Please offer an option to disable inotify_simple so that be working in macOS"
For macOS users, even a manually sync is better than none.

Would you consider to add an option to disable `inotify_simple` ?

[2019-08-13 01:27] derrix060 commented on #47
Sorry for the delay, I was on holidays.  Yes, the idea is changing the f-strings (`f'... {var} ...'`) to `.format` style (`'... {} ...'.format(var)`)

[2019-08-13 01:30] derrix060 commented on #50
That would be a bit tricky on my side because I don't have a mac to test.  I can create a configuration to disable `inotify_simple` and let macOS users decide what to do with it.

Please let me know if that's okay ;)

[2019-08-13 01:34] derrix060 commented on #49
That's weird and looks like a problem on the Microsoft side `Microsoft.SharePoint.Client.ResourceNotFoundException`.

Can you give me well-defined steps to reproduce it, then I can work on.
(As far as I understood, if I create a dir and then a file inside this dir, it won't work?)

[2019-08-13 09:12] galaxy001 commented on #50
I mean to not use `inotify` function at all. The macOS users may still manually run the daemon at foreground each time when they want to upload the changes, and then kill the daemon since it will not know any changing afterwards.

[2019-08-14 01:37] derrix060 commented on #50
Can't macOS users use the app provided by Microsoft: https://support.office.com/en-us/article/sync-files-with-the-onedrive-sync-client-on-mac-os-x-d11b9f29-00bb-4172-be39-997da46f913f?

[2019-08-14 08:51] galaxy001 commented on #50
When you have multiple accounts, the Microsoft app cannot allow you to select which one to start. You will have to start many of the app for each of the account.

[2019-09-05 08:11] rodom commented on #49
Sorry for the delaym I've been away. I've found it to be a bit weird and inconsistent - as I said, some things sync and some do not. However, here's some stuff I just did:
`mkdir test`
This syncs OK.
`mkdir test/test1`
This fails:
[code]
`touch test/test.txt`
Nothing happens, no log output.
Restart onedrive-dclient. The file test/test.txt then syncs OK but the dir test/test1 does not:
[code]
`touc

[2019-09-19 02:49] mrIom commented on #32
For me didn't work the #26, not showing any drives for onedrive business...
Are you looking into ```https://[domain]-my.sharepoint.com/personal/[business-email]/_api/v2.0/drives```?

[2019-09-30 07:11] grvkmrpandit commented on #47
use import from future to make it compatible with python 3.6

[2019-10-03 02:16] derrix060 commented on #47
@RobatBender you're right, someone might have done it already.

[2019-10-03 02:16] #47 closed

[2020-04-07 06:52] m397026474 opened #51 "URL hijacking？"
I got this:
$ onedrive-client-pref account add -b
WARNING:root:Failed to load config file: [Errno 2] No such file or directory: '/home/myc/.config/onedrive_client/onedrive_client_config_v2.json'. Use default.
NOTE: To better manage your OneDrive accounts, onedrive_client needs permission to access your account info (e.g., email address to distinguish different accounts) and read/write your OneDriv

[2020-04-21 15:00] starlinq commented on #27
Hello,

I got the same problem:

`$ onedrive-client start
Starting onedrive-client ... FAILED
ERROR: Child exited immediately with exit code 127
`

[2020-05-18 11:01] cu0uz opened #52 "invalid_grant"
Hello good afternoon, see if you can help me.

Although it worked the first time, then it has already stopped and I cannot get it to synchronize again, despite the fact that I have completely unlinked the account and re-linked it (deleted everything and reinstalled it)

this is the failure that gives me after: onedrive-d start --debug

Loading configuration ... OK
[2020-05-18 12:56:18,652] DEBUG:

[2020-06-25 20:12] abraunegg commented on #51
@m397026474
Might be worth looking at this:
* https://abraunegg.github.io/
* https://github.com/abraunegg/onedrive/

[2020-06-25 20:13] abraunegg commented on #52
@cu0uz
Might be worth looking at this:
* https://abraunegg.github.io/
* https://github.com/abraunegg/onedrive/

[2020-06-25 20:15] abraunegg commented on #48
@asppsa
Might be worth looking at this:
* https://abraunegg.github.io/
* https://github.com/abraunegg/onedrive/

[2020-06-28 01:26] jaullo opened #53 "Web Pages Code"
Hi, could you provide the code located at

https://od.cnbeining.com
https://onedrivesite.mario-apra.tk/

So we can check it out and implement our own service

Thanks

[2020-07-21 14:46] starlinq opened #54 "Error on installation in Ubuntu 20.04"
I have successfully installed the software in Ubuntu 18.04, now I am trying to install it in Ubuntu 20.04 and getting an error.

Here is my log:

`
 sudo python3 setup.py install
[sudo] password for testing:
running install
running bdist_egg
running egg_info
writing onedriveClient.egg-info/PKG-INFO
writing dependency_links to onedriveClient.egg-info/dependency_links.txt
writing entry points to one

[2020-07-21 19:43] derrix060 commented on #54
To be honest I don't have time anymore to investigate and this project is
not bring supported.

I'd suggest you look at a different version that has being looked after:
https://github.com/abraunegg/onedrive

On Wed, Jul 22, 2020, 02:46 VS <notifications@github.com> wrote: